* {
  margin: 0;
  padding: 0; }

body {
  font-size: 20px;
  background-image: linear-gradient(red, orange); }

nav {
  display: flex;
  align-items: center; }

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

nav ul li {
  list-style: none; }

nav ul li a {
  font-size: 20px;
  margin: 0% 25px;
  color: white;
  text-decoration: none; }

.publicidad {
  height: 500px;
  width: 500px; }

span {
  display: none; }

h1 {
  color: blue; }

h2 {
  color: aqua;
  margin-bottom: 5px; }

.division, .division__texto {
  padding: 2rem;
  margin: 2rem; }
  .division__texto {
    font-size: 30px; }

.lorem {
  background-color: black;
  text-align: center;
  font-size: 40px;
  padding: 1rem; }

p {
  color: aquamarine; }

label {
  color: white; }

input {
  margin-top: 8px; }

textarea {
  margin-top: 10px; }

button {
  padding-top: 6px; }

footer {
  margin-top: 210px; }

.btn--twitter {
  background-color: aquamarine; }

.btn--facebook {
  background-color: blue; }

.btn--instagram {
  background-color: pink; }

.btn--whatsapp {
  background-color: lightgreen; }
