* {
  margin: 0;
  padding: 0; }

body {
  font-size: 3vh;
  background-image: linear-gradient(red, orange);
  text-align: justify; }

h1 {
  color: aqua;
  margin-bottom: 5px;
  text-align: center; }

h2 {
  color: black; }

h3 {
  color: black; }

h4 {
  color: black; }

p {
  color: white; }

label {
  color: white; }

input {
  margin-top: 8px; }

textarea {
  margin-top: 10px; }

button {
  padding-top: 6px; }

footer {
  background-color: #eee;
  text-align: center;
  color: black;
  margin-top: 330px;
  padding-bottom: 30px; }

.copyright {
  color: black; }

@media (max-width: 375px) {
  body {
    background-image: linear-gradient(#1e1e57, #c9c9c9); } }
