*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    background-image: linear-gradient(red, orange);
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 20px;
    margin: 0% 25px;
    color: white;
    text-decoration: none;
}

@mixin tamaño ($height, $width) {
    height: $height;
    width: $width;
}

.publicidad {
    @include tamaño (500px, 500px)
}

span {
    display: none;
}

h1 {
    color: $color-secondary;
}

h2 {
    color: $color-primary;
    margin-bottom: 5px;
}

.division {
    padding: 2rem;
    margin: 2rem;

    &__texto {
        @extend .division;
        font-size: 30px;
    }
}

$estilos: (
    color: black,
    centro: center,
    tfuente: 40px,
    1rem: 1rem,
);

.lorem {
    background-color: map-get($map: $estilos, $key:color );
    text-align: map-get($map: $estilos, $key: centro );
    font-size: map-get($map: $estilos, $key: tfuente );
    padding: map-get($map: $estilos, $key: 1rem );
}

p {
    color:aquamarine;
}

label {
    color: $color-label;
}

input {
    margin-top: 8px;
}

textarea {
    margin-top: 10px;
}

button {
    padding-top: 6px;
}

footer {
    margin-top: 210px;
}

$redes: (
    twitter: aquamarine,
    facebook: blue,
    instagram: pink,
    whatsapp: lightgreen,
);

@each $red, $color in $redes {
    .btn--#{$red} {
        background-color: $color;
    }
}